@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900);

/* Reset
=====================================================================*/
*{padding:0;margin:0;}
body{
	background:#ffffff;
	font-family: 'Raleway',sans-serif;
	overflow-x: hidden;
	text-rendering: optimizelegibility;
}

a { 
	color:#ffffff; text-decoration:none; 
}
a:hover { 
	color:#ffffff;text-decoration:none; 
}
a:focus {
	color:#ffffff;
	outline: medium none;
	outline-offset: 0;
}

/* Headings */
h1          { font-size:2em; font-weight:normal; line-height:1.15; }
h2          { font-size:1.5em; line-height:1.25; margin-bottom:.45em; }
h3          { font-size:1.35em; line-height:1.25; margin-bottom:.45em; }
h4          { font-size:1.05em; line-height:1.35; margin-bottom:.45em; }
h5          { font-size:1.05em; line-height:1.35; margin-bottom:.45em; }
h6          { font-size:1em; line-height:1.35; margin-bottom:1em; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 1em; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small         { font-size:1em; }
big           { font-size:1.15em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }



/* Show Messages
=====================================================================*/
.gen{
	background: none repeat scroll 0 0 #fff;
	color: #008900;
	font-size: 20px;
	margin: 15px auto;
	padding: 5px;
	text-align: center;
}
.err{
	background: none repeat scroll 0 0 #FF0000;
	color: #008900;
	font-size: 20px;
	margin: 15px auto;
	padding: 5px;
	text-align: center;
}



/* Section Title
=====================================================================*/
.section-title{
	margin-bottom: 35px;
	margin-top: 80px;
	text-align: center;
}
.section-title h2{
	font-size: 26px;
	font-weight: 800;
	letter-spacing: 0.04em;
	margin: 0 0 10px;
	padding: 0 0 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.section-title h2:before {
	border: 2px solid #59a3fc;
	bottom: 0;
	content: "";
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 100px;
}
.section-title p{
	color: #9c9c9c;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}


/* Site Header Part
=====================================================================*/
.overlay {
	
	height: 100%;
	width: 100%;
}

.site_logo{
	margin-top: 150px;
	text-align: center;
}
.menu_area{
	background: url("images/menu_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	bottom: 0;
	height: 50px;
	position: absolute;
	width: 100%;
}
.stick_menu{
	position: fixed;
	top: 0;
	z-index: 9999;
}

.header_part{
	background: url("images/background.jpg") repeat scroll center center / cover  rgba(0, 0, 0, 0);
	overflow: hidden;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.logo{}
.active{
	background: url("images/active-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	color: #fff !important;
}
.logo a{
	color: #ffffff !important;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}
.site_title{}
.site_title h1{
	color: #fff;
	font-size: 90px;
	font-weight: 700;
	margin: 40px 0 0 0;
	text-align: center;
}


.site_title h5{
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin: 0;
}



/* Site Countdown Part
=====================================================================*/
.countdown{
	color: #fff;
	margin: 10px auto 10px;
	width: 70%;
}
.countdown_row{
	display: block;
	margin-left: 5px;
	overflow: hidden;
	width: 100%;
}
.countdown_section{
	background: none repeat scroll 0 0 transparent;
	
	display: block;
	float: left;
	font-size: 22px;
	margin: 15px 30px auto;
	padding: 30px 12px;
	text-align: center;
	width: 140px;
	font-weight: 600;
}
.countdown_amount{
	font-size: 35px;
	font-weight: 800;
}


/* About Section
=====================================================================*/
.welcome_section{
	overflow: hidden;
}
.about{
	margin: 0 auto;
	padding: 60px 20px;
}
.about h2{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
.about p{
	margin: 20px;
	text-align: center;
}
.welcome_part{
	margin: 50px auto 80px;
}
.welcome_icon{
	background: none repeat scroll 0 0 transparent;
	border: 2px solid #59a3fc;
	border-radius: 100%;
	color: #59a3fc;
	margin: 0 auto;
	padding: 35px;
	text-align: center;
	width: 140px;
}
.welcome_part h2{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-align: center;
}
.welcome_part p{
	color: #9c9c9c;
	font-size: 14px;
	text-align: center;
}

/* Email Subscribe Section
=====================================================================*/
.email_subscribe_section{
	background: none repeat scroll 0 0 #ecf0f1;
	color: #000;
	height: auto;
	overflow: hidden;
	width: 100%;
}
.email_subscriber_head{
	margin: 100px auto 30px;
}
.email_subscriber_head h2{
	font-size: 35px;
	text-align: center;
}
.email_subscriber_head p{
	text-align: center;
}
.email_subscribe_form_part{
	margin-bottom: 80px;
	text-align: center;
}
.email_input_box{
	background: none repeat scroll 0 0 #fff;
	border-radius: 30px;
	color: #000;
	display: inline;
	font-size: 15px;
	height: auto;
	margin: 20px 30px;
	padding: 15px;
	width: 40%;
}
.email_submit_box{
	border-radius: 30px;
	margin-top: -5px;
	padding: 15px 40px;
}
.email_submit_box:focus, .email_submit_box:active:focus, .email_submit_box.active:focus {
  outline: medium none;
  outline-offset: -2px;
}


/* Contact Section
=====================================================================*/
.contact_section{
	overflow: hidden;
	background: none repeat scroll 0 0 #18191a;
	color: #fff;
}
.contact_head{
	padding: 80px 0 30px;
	text-align: center;
}
.contact_head h2{
	font-size: 35px;
	font-weight: bold;
}
.contact_head p{}
.address_part{}
.address{
	margin: 10px auto;
	font-weight: 600;
}
.phone{
	margin: 10px auto;
	font-weight: 600;
}
.email{
	margin: 10px auto;
	font-weight: 600;
}
.social_icons{}
.social_icons ul{}
.social_icons ul li{
	display: inline;
	font-size: 20px;
	margin-right: 10px;
}
.social_icons ul li a{
	font-size: 40px;
}
.contact_form{
	margin-bottom: 60px;
}
.contact_input_box{
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #666;
	border-radius: 30px;
	color: #fff;
	height: auto;
	margin-bottom: 30px;
	padding: 15px;
	resize: none;
}
.contact_button{
	border-radius: 30px;
	font-size: 18px;
	height: auto;
	padding: 10px 25px;
}
.contact_button:focus, .contact_button:active:focus, .contact_button.active:focus {
	outline: medium none;
	outline-offset: -2px;
}



/*MODAL*/

.contact-us{
	margin: 1em 0 2em 0;
	list-style: none;
	padding: 1em;
	text-align: center;
}

.contact-us a{	
	text-decoration:none;
	background: #222;	
	padding:1em;
	color: white;
	font-weight:bold;
	border-radius:3px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	
}

.contact-us a:hover{
	background:#FAAC58;
	color:#222;

}


/*.site_title .modalmask {
	position: fixed;
	font-family: Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.site_title .modalmask:target {
	opacity:1;
	pointer-events: auto;
}
.site_title .modalbox{
	width: 400px;
	position: relative;
	padding: 5px 20px 13px 20px;
	background: #fff;
	border-radius:3px;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	
}

.site_title .movedown {
	margin: 0 auto;
}

.rotate {
	margin: 10% auto;
	-webkit-transform: scale(-5,-5); 
	transform: scale(-5,-5);
}
.resize {
	margin: 10% auto;
	width:0;
	height:0;

}
.site_title .modalmask:target .movedown{		
	margin:10% auto;
}
.site_title .modalmask:target .rotate{		
	transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.site_title .modalmask:target .resize{
	width:400px;
	height:200px;
}


.site_title .close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius:3px;
	font-size:16px;
}

.site_title .close:hover { 
	background: #FAAC58; 
	color:#222;
}

*/


/*About/Contact css end here*/

.modal {
    background: rgba(31, 31, 31, 0.9);
}
.pop-up {
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    background: none;
    border: none;
}
.cls-pop {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: normal;
    z-index: 999;
}
.cls-pop:hover {
    color: white;
    text-decoration: none;
}
.pop-up h3 {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 60px 0;
    padding: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
}
.pop-up h3:before {
    background-color: white;
    bottom: -30px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 300px;
}
.pop-up h3:before {
    left: 50%;
    margin-left: -150px;
}
.pop-up p {
    margin: 10px 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    color: #dadada;
}
.pop-up-cnt {
    text-align: center;
}
.pop-up-cnt i {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    color: #222;
    line-height: 40px;
    margin-bottom: 10px;
}
.pop-up-cnt h4 {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.pop-up-cnt .cnt-wrap {
    padding-top: 30px;
}
.features {
    margin: 20px 0 0 0;
    padding: 0 0 0 14px;
}
.features li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    color: #dadada;
    width: 33%;
    float: left;
}
.gmap {
    margin: 20px 0;
    position: relative;
    width: 100%;
    height: 400px;
}





/*Contact*/

input[type="text"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: 300;
    height: 45px;
    line-height: 45px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 75%;
}

textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 160px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
    width: 100%;
}

input[type="submit"] {
    background-color: white;
    border: medium none;
    border-radius: 4px;
    color: #222;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 24px;    
    width: 110px;
}
.texto2{
	text-align: center;
	color: white;
	font-weight: 700;
	background: green;
}

.texto{	
	color: white;
	font-weight: 700;
}

/* Captcha */

.captcha > input
{
	width:50%;
	margin-top: 10px;
}

/* 404 page design */

h1.error {
    color: rgb(255, 255, 255);
    font-size: 10em;
}
.no-page-found {
    margin-bottom: 76px;
    text-align: center;
	color: rgb(255, 255, 255);	
}
.no-page-found p {
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding: 0;
}
.no-page-found p a{
    color: rgb(255, 255, 0);
	text-decoration: underline;    
}
.no-page-found p a:hover{    
	text-decoration: none;    
}

/*Template color option start here*/

.template-colors {
    margin: 40px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
}
.template-colors li {
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    font-size: 26px;
}
.template-colors li a {
    margin: 0;
    padding: 0;
    outline: none;
    display: block;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.template-colors li a:hover {
    border: 1px solid #999;
}
.template-colors li a.blue {
    background-color: #00d2ff;
}
.template-colors li a.green {
    background-color: #aaee06;
}
.template-colors li a.yellow {
    background-color: #ffcc00;
}
/*Template color option end here*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .count-down li input {
        margin-top: 60px !important;
    }
}
/*Responsive css start here*/

@media only screen and (max-device-width: 1150px) {
    .about-us a {
        top: 2%;
        margin-left: -20px;
        left: 47.5%;
    }
    .contact-us a {
        top: 2%;
        margin-right: -20px;
        right: 47.5%;
    }
    .about-us .tooltip,
    .contact-us .tooltip {
        display: none !important;
    }
    .about-us .tooltip-arrow,
    .contact-us .tooltip-arrow {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .count-down li div,
    .count-down li canvas {
        width: 230px !important;
        height: 230px !important;
    }
    .contact-form input {
        padding: 0 26% 0 17%;
    }
    .count-down li input {
        margin: 36px 0 0 -187px !important;
    }
    .hide-med {
        display: none !important;
    }
    .contact-form .btn-submit {
        font-size: 18px;
    }
    .features li {
        width: 50%;
    }
}
@media only screen and (max-device-width: 767px) {
    .about-us a {
        left: 46%;
    }
    .contact-us a {
        right: 46%;
    }
}
@media only screen and (max-device-width: 600px) {
    .about-us a {
        left: 44%;
    }
    .contact-us a {
        right: 44%;
    }
    .features li {
        width: 100%;
        float: none;
    }
}
@media only screen and (max-device-width: 568px) {
    .contact-form input {
        padding: 0 40% 0 24%;
    }
    .paw-carousel-item {
        height: 320px !important;
    }
    .contact-form .btn-submit {
        font-size: 15px;
        padding: 0;
        margin: 0;
        width: 80px;
    }
}
/*Responsive css end here*/




